assets/websocket server.json
[
    {
        "id": "5344455f6e19509d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b47a3ecd7335e26d",
        "type": "websocket in",
        "z": "5344455f6e19509d",
        "name": "",
        "server": "ecf511f524f45a86",
        "client": "",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "15162020d25b74b9"
            ]
        ]
    },
    {
        "id": "e3946dbf06b6f81d",
        "type": "websocket out",
        "z": "5344455f6e19509d",
        "name": "",
        "server": "f4a62c9d9e75d172",
        "client": "",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "15162020d25b74b9",
        "type": "function",
        "z": "5344455f6e19509d",
        "name": "function 1",
        "func": "return {payload: msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "e3946dbf06b6f81d"
            ]
        ]
    },
    {
        "id": "5a12e928c2cf6fec",
        "type": "websocket in",
        "z": "5344455f6e19509d",
        "name": "",
        "server": "6ecb0c1ccb5c0c65",
        "client": "",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "e817726850d214a9"
            ]
        ]
    },
    {
        "id": "e817726850d214a9",
        "type": "function",
        "z": "5344455f6e19509d",
        "name": "function 2",
        "func": "return {payload: msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "c1f0431eba7cfaba"
            ]
        ]
    },
    {
        "id": "c1f0431eba7cfaba",
        "type": "websocket out",
        "z": "5344455f6e19509d",
        "name": "",
        "server": "82bf9342d227a020",
        "client": "",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "ecf511f524f45a86",
        "type": "websocket-listener",
        "path": "receive",
        "wholemsg": "false"
    },
    {
        "id": "f4a62c9d9e75d172",
        "type": "websocket-listener",
        "path": "publish",
        "wholemsg": "false"
    },
    {
        "id": "6ecb0c1ccb5c0c65",
        "type": "websocket-listener",
        "path": "receiveTimer",
        "wholemsg": "false"
    },
    {
        "id": "82bf9342d227a020",
        "type": "websocket-listener",
        "path": "publishTimer",
        "wholemsg": "false"
    }
]